!!!
%html{"ng-app"=>""}
	%head
		%title Kt
		= stylesheet_link_tag "application", media:"all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.container-fluid
			.navbar
				.navbar-inner
					%a.brand.pull-left{href:"#"} 
						%i.icon-th-large
						MyTicker
					.btn-group.pull-right
						%button.btn
							%a{href:"#"} Login
						%button.btn
							%a{href:"#"} Register
					%ul.nav
						%li.active
							%a{href:"#"} Home
						%li
							%a{href:"#"} News
						%li
							%a{href:"#"} Contact Us
			.row-fluid
				.span9= yield
				.span3
					%h2 About Us